.popup {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}