.profile__name {
    margin: 22px 0 16px;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    max-width: 330px;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 740px) {
    .profile__name {
        max-width: 220px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 14px;
    }
}