.popup__form-input {
    border: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px 0px 30px;
    padding-bottom: 13px;
}