.popup__container {
    background-color: white;
    color: black;
    width: 100%;
    max-width: 430px;
    border-radius: 8px;
    position: relative;
}

@media all and (max-width: 700px) {
    .popup__container {
        width: 282px;
    }
}