.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 47px;
}

@media all and (max-width: 740px) {
    .profile {
        flex-direction: column;
        margin-bottom: 36px;
    }
}