.photos__card-image {
    height: 282px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.photos__card-image:hover {
    cursor: pointer;
    transition: transform 0.1s ease;
    transform: scale3d(1.03, 1.03, 1.03);
}