.header {
    width: 95%;
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    ;
}

@media all and (max-width: 740px) {
    .header {
        width: 100%;
        padding: 0px;
    }
}