.photos__card {
    background-color: white;
    width: 282px;
    border-radius: 15px;
    position: relative;
}

@media all and (max-width: 950px) {
    .photos__card {
        justify-self: center;
    }
}

.photos__card:hover {
    cursor: pointer;
    transition: transform 0.25s ease;
    transform: scale3d(1.03, 1.03, 1.03);
}