.profile__redact {
    /* margin: 37px 0 0 18px; */
    /* width: 24px;
    height: 24px; */
    justify-content: center;
}


/* @media all and (max-width: 740px) {
    .profile__redact {
        width: 18px;
        height: 18px;
    }
} */