.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media all and (max-width: 740px) {
    .footer__copyright {
        margin-left: 19px;
    }
}