.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.6;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in;
}

@media all and (max-width: 700px) {
    .popup__close {
        top: -45px;
        right: 0;
    }
}