.popup__close {
    position: absolute;
    top: -50px;
    right: -50px;
    background: transparent;
    background-image: url(../../../images/close.svg);
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-size: 40px;
    transform: rotate(-45deg);
    border: none;
    padding: 0px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media all and (max-width: 700px) {
    .popup__close {
        width: 26px;
        height: 26px;
        background-size: 26px;
        top: -40px;
        right: 0;
    }
}