.profile__add-button {
    display: flex;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    margin-top: 35px;
    font-size: 22px;
    justify-self: end;
    background: transparent;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    cursor: pointer;
    transition: 0.2s linear;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media all and (max-width: 740px) {
    .profile__add-button {
        width: 100%;
        margin: 35px auto 0;
    }
}