.profile__cards {
    background-color: white;
    height: 361px;
    width: 282px;
    border-radius: 15px;
}

@media all and (max-width: 950px) {
    .profile__cards {
        justify-self: center;
    }
}