@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__main/profile__main.css);
@import url(../blocks/profile/__main-avatar/profile__main-avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__aboutMe/profile__aboutMe.css);
@import url(../blocks/profile/__redact/profile__redact.css);
@import url(../blocks/profile/__addButton/profile__addButton.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__cards/profile__cards.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__likebar/card__likebar.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);