@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__main/profile__main.css);
@import url(../blocks/profile/__edit-panel/profile__edit-panel.css);
@import url(../blocks/profile/__main-avatar/profile__main-avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__aboutMe/profile__aboutMe.css);
@import url(../blocks/profile/__redact/profile__redact.css);
@import url(../blocks/profile/__redact-image/profile__redact-image.css);
@import url(../blocks/profile/__addButton/profile__addButton.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__cards/profile__cards.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__likebar/card__likebar.css);
@import url(../blocks/card/__likeButton/card__likeButton.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-title/popup__form-title.css);
@import url(../blocks/popup/__form-name/popup__form-name.css);
@import url(../blocks/popup/__form-aboutMe/popup__form-aboutMe.css);
@import url(../blocks/submit/__button/submit__button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close-image/popup__close-image.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_closed/popup_closed.css);