.popup__form-aboutMe {
    border: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    margin: 0px 0px 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 700px) {
    .popup__form-aboutMe {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 45px;
    }
}